{% extends "base.html" %}

{% block title %}
  FMS BY ALEX WAYA
{% endblock %}

{% load static %}

{% block page_content %}


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center" style="height: 100vh;">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>An easy, all-in-one RPHN GIS System</h1>
          <h2>A simple, customizable alternative to spreadsheets and outdated maping software. Gain full visibility into RHPN operations, increase maintenance efficiency in reporting from a centralised system.</h2>
          <div class="d-lg-flex">
            <a href="{% url 'login' %}" class="btn-get-started scrollto btn-success">Admin? Go to Dashboard > <i class="fa fa-hand-o-right"></i></a>
            <!-- <a href="#" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a> -->
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section>
  <!-- End Hero -->


{% endblock %}